 body{
    margin: 0;
    padding-left: 2rem;
    /* display: flex;
    align-items: center; */
    justify-content: center;
    height: 80vh;
    font-family: sans-serif;
 }
 h1{
    font-size: 4rem;
    color: brown;
 }
 span{
    color: rgb(71, 13, 13);
    display: inline-flex;
    align-items: center;
 }
 span::after{
    content: '';
    width: 2px;
    height: 55px;
    background-color: rgb(71, 13, 13) ;
    display: inline-block;
    margin-left: 4px;
 }